@font-face {
  font-family: "Apple";
  src: url("./font.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  touch-action: manipulation;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6cea0;
}

body * {
  font-family: "Apple", serif;
  max-width: 600px;
  color: #000;
}

#container {
  position: relative;
}

#viewport {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 4/3;
  image-rendering: pixelated;
}

#controls {
  padding-top: 24px;
  display: flex;
  justify-content: space-around;
}

.arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrows-top {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.pushable {
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  background: #417154;
}

.pushable .front {
  background: #6d9775;
  display: block;
  padding: 16px;
  font-size: 1.25rem;
  transform: translateY(-6px);
}

.top,
.top > span {
  border-radius: 5px 5px 0 0;
}

.left,
.left > span {
  border-radius: 5px 0 0 5px;
}

.bottom,
.bottom > span {
  border-radius: 0 0 5px 5px;
}

.right,
.right > span {
  border-radius: 0 5px 5px 0;
}

.pushable:active .front {
  transform: translateY(-2px);
}
