@font-face {
  font-family: "Apple";
  src: url("./font.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  touch-action: manipulation;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6cea0;
}

body * {
  font-family: "Apple", serif;
  max-width: 600px;
  color: #095786;
}

#container {
  position: relative;
}

#viewport {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 4/3;
  image-rendering: pixelated;
}

#controls {
  padding-top: 24px;
}

.pushable {
  border-radius: 3px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  background: #ae0000;
}

.pushable .front {
  background: #db4646;
  display: block;
  padding: 16px;
  border-radius: 3px;
  font-size: 1.25rem;
  color: #000;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}
