@font-face {
  font-family: "Apple";
  src: url("./font.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Apple", serif;
  color: white;
}

body > * {
  max-width: 600px;
}

#container {
  position: relative;
}

#bezel {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid black;
}

#viewport {
  /* border: 1px solid grey; */
  width: 100%;
  max-width: 600px;
  aspect-ratio: 4/3;
  image-rendering: pixelated;
}
